* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#main {
  height: 100%;
  width: 100%;
  background-color: saddlebrown;
}
#one-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 1vw 2vw;
  background-color: rgb(32, 32, 34);
}
#one-s .left1 {
  height: 97%;
  width: 49.5%;

  border-radius: 10px;
}
#one-s .right1 {
  color: white;
  height: 97%;
  width: 49.5%;
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}
#one-s .left1 img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
#one-s .right1 .heading {
  height: 50%;
  width: 100%;
  font-weight: 100;
  text-transform: uppercase;
}

#one-s .right1 .content {
  height: 50%;
  width: 100%;
}
#one-s .right1 .content #p1 {
  font-size: 3vw;
  font-style: normal;
  font-weight: 100;
  width: 80%;
  margin-bottom: 1vw;
  text-transform: uppercase;
  font-weight: 100;
}
#one-s .right1 .content #p2 {
  font-size: 1vw;
  width: 80%;
  color: gray;
  font-weight: 100;
}
#one-s .right1 .content button {
  padding: 10px;
  margin-top: 1.5vw;
  border: none;
  border-radius: 7px;
}
#two-s {
  height: 100%;
  width: 100%;
  padding: 0.2vw 2vw;
  background-color: rgb(32, 32, 34);
}
#two-s .inner {
  height: 85%;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#two-s .right1 {
  height: 100%;
  width: 49.5%;
  background-color: rgb(46, 46, 46);
  padding: 0 0 0 3rem;
  border-radius: 10px;
}
#two-s .tops {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#two-s .tops p {
  text-transform: uppercase;
  color: gray;

  font-size: 0.8rem;
}
#two-s .tops h4 {
  margin-top: 10px;
  font-weight: 100;
  font-size: 2.5rem;
}
.top-content {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#two-s .left1 {
  height: 100%;
  width: 49.5%;
  background-color: saddlebrown;
  border-radius: 10px;
}
#two-s .left1 img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
#two-s {
  color: white;
}
#two-s .inner .right1 .heading {
  height: 50%;
  width: 100%;
  font-weight: 100;
  text-transform: uppercase;

  /* background-color: aquamarine; */
}
#two-s .inner .right1 .heading h3 {
  padding-top: 4vw;
  font-weight: 100;
}
#two-s .inner .right1 .content {
  height: 50%;
  width: 100%;
  /* background-color: bisque; */
}
#two-s .inner .right1 .content #p1 {
  font-size: 3vw;
  font-style: normal;
  font-weight: 100;
  width: 80%;
  margin-bottom: 1vw;
  text-transform: uppercase;
  font-weight: 100;
}
#two-s .inner .right1 .content .colums {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  /* background-color: rebeccapurple; */
  width: 95%;
}
#two-s .inner .right1 .content .colums-p {
  font-size: 1rem;
  width: 45%;
  color: rgb(169, 168, 168);
}

#three-s {
  height: 85%;
  width: 100%;
  padding: 0.2vw 2vw;
  background-color: rgb(32, 32, 34);
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}
#three-s .right1 {
  height: 95%;
  width: 49.5%;
  background-color: rgb(46, 46, 46);
  padding: 0 0 0 3rem;
  border-radius: 10px;
}
#three-s .left1 {
  height: 95%;
  width: 49.5%;
  background-color: saddlebrown;
  border-radius: 10px;
}
#three-s .left1 img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



#three-s  .right1 .heading {
  height: 50%;
  width: 100%;
  font-weight: 100;
  text-transform: uppercase;

  /* background-color: aquamarine; */
}
#three-s  .right1 .heading h3 {
  padding-top: 4vw;
  font-weight: 100;
}
#three-s  .right1 .content {
  height: 50%;
  width: 100%;
  /* background-color: bisque; */
}
#three-s  .right1 .content #p1 {
  font-size: 3vw;
  font-style: normal;
  font-weight: 100;
  width: 80%;
  margin-bottom: 1vw;
  text-transform: uppercase;
  font-weight: 100;
}
#three-s  .right1 .content .colums {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  /* background-color: rebeccapurple; */
  width: 95%;
}
#three-s  .right1 .content .colums-p {
  font-size: 1rem;
  width: 45%;
  color: rgb(169, 168, 168);
}
#four-s {
     height: 65%;
  width: 100%;
  padding: 0.2vw 2vw;
  background-color: rgb(32, 32, 34);
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between; 
}
.cards{
    height: 95%;
    background-color: rgb(50, 50, 50);
    width: 32%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw ;
    justify-content: space-between;
}
.cards .icons{
    height: 15%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: purple; */
}
.cards .icons i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
margin-left: 20px;
border: 1px solid white;
padding: 0.4vw;
border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
background-color: rgba(128, 128, 128, 0.575);
}

.cards .footer{
    height: 15%;
    width: 98%;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgba(128, 128, 128, 0.51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.9vw;
    text-transform: uppercase;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
    /* background-color: purple; */
}
#card1{
background-image: url("https://abhi2003-30.github.io/Responsive-webpage/1.webp");
background-position:center;
background-size: cover;
}
#card2{
background-image: url("https://abhi2003-30.github.io/Responsive-webpage/2.webp");
background-position:center;
background-size: cover;
}

#card3{
background-image: url("https://abhi2003-30.github.io/Responsive-webpage/3.webp");
background-position:center;
background-size: cover;
}


#five-s {
  height: 85%;
  width: 100%;
  padding: 0.2vw 2vw;
  background-color: rgb(32, 32, 34);
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}
#five-s .right1 {
  height: 95%;
  width: 49.5%;
  background-color: rgb(46, 46, 46);
  padding: 0 0 0 3rem;
  border-radius: 10px;
}
#five-s .left1 {
  height: 95%;
  width: 49.5%;
  background-color: saddlebrown;
  border-radius: 10px;
}
#five-s .left1 img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


#five-s  .right1 .heading {
  height: 50%;
  width: 100%;
  font-weight: 100;
  text-transform: uppercase;

  /* background-color: aquamarine; */
}
#five-s  .right1 .heading h3 {
  padding-top: 4vw;
  font-weight: 100;
}
#five-s .right1 .content button {
  padding: 10px 15px;
  margin-top: 1.5vw;
  border: none;
  border-radius: 7px;
}
#five-s .right1 .content {
  height: 50%;
  width: 100%;
}
#five-s .right1 .content #p1 {
  font-size: 3vw;
  font-style: normal;
  font-weight: 100;
  width: 80%;
  margin-bottom: 1vw;
  text-transform: uppercase;
  font-weight: 100;
}
#six-s{
    height: 30%;
     background-color: rgb(32, 32, 34);

    width: 100%;
    display: flex;;
    align-items: center;
    justify-content: center;

}
.inside{
    height: 90%;
    width: 95%;
    border-radius: 10px;
    background-color: rgb(255, 208, 0);
    padding: 1vw ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.inside .f1{
    font-weight: 600;
}
.inside .f2{
    font-weight: 700;
    font-size: 2.6vw;
}
.inside .f3 button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px ;
    border-radius: 10px;
}